<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <style>
        body {
            background-color: gray;
            font-family: Arial, sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        h1 {
            text-align: center;
            margin-top: 50px;
            color: orange;
        }

        form {
            max-width: 400px;
            background-color: #fff;
            padding: 40px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            font-weight: bold;
            margin-bottom: 10px;
            color: #333;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-bottom: 20px;
            box-sizing: border-box;
        }

        button[type="submit"] {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 4px;
            cursor: pointer;
        }

        button[type="submit"]:hover {
            background-color: #0056b3;
        }

        .container{
            background-color: #0056b3;
            padding: 2%;
            border-radius: 3%;
        }


    </style>
</head>

<body>
    <div class="container">
        <h1>Register</h1>
        <form action="/register" method="POST">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required placeholder="Ingrese su nombre">

            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido" required placeholder="Ingrese su apellido">

            <label for="gmail">Email:</label>
            <input type="email" id="gmail" name="gmail" required  placeholder="asdf@asdf.com">

            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required placeholder="************">
            <div class="g-recaptcha" data-sitekey="<%= siteKey %>"></div>
            <button type="submit" style="margin-top: 20px ; margin-left: 100px;">Registrar</button>
        </form>
    </div>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</body>

</html>
